.bg-image {
    background-image: url("homebg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

